# turn gitignore into whitelist
*
!*/

!.gitignore

!.config/alacritty/
!.config/BetterDiscord/
!.config/fish/
!.config/i3/
!.config/kitty/
!.config/neofetch/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/rofi/
!.config.yazi/
!hyfetch.json
!starship.toml
