# turn gitignore into whitelist
.config/*

!.config/alacritty/
!.config/BetterDiscord/
!.config/catsay_custom/
!.config/fish/
!.config/i3/
!.config/kitty/
!.config/neofetch/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/rofi/
!.config.yazi/
!hyfetch.json
!starship.toml
